<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 bg-dark d-flex flex-column" style="height: 92vh;width: fit-content;">
            <a routerLink="/home" class="mt-3 text-decoration-none text-light fe-border ">Home</a>
            <a routerLink="/home" class="mt-3 text-decoration-none text-light fe-border ">Employee</a>
            <button class="btn btn-link mt-auto">Logout</button>
        </div>
        <div class="col-lg-10">

            <div class="p-5 w-100 d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
                <h1>Edit Employee Details</h1>
                <form action="" class="border rounded p-3" #empForm="ngForm" (ngSubmit)="getEditedData()">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" name="empid" required [(ngModel)]="user.empId" id="floatingId" placeholder="Employee id" #employeeId="ngModel">
                        <label for="floatingId">Employee Id</label>
                    </div>
                    <div class="text-danger" *ngIf="employeeId.invalid && employeeId.touched">
                        *Invalid Id
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" required pattern="[a-z0-9]*" minlength="4" [(ngModel)]="user.username" id="floatingusername" placeholder="Employee username" #employeeUsername="ngModel">
                        <label for="floatingusername">Username</label>
                    </div>
                    <div class="text-danger" *ngIf="employeeUsername.invalid && employeeUsername.touched">
                        *Invalid Username
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="email" required email [(ngModel)]="user.email" id="floatingemail" placeholder="Employee Email" #employeeEmail="ngModel">
                        <label for="floatingemail">Email address</label>
                    </div>
                    <div class="text-danger" *ngIf="employeeEmail.invalid && employeeEmail.touched">
                        *Invalid Email
                    </div>
                    <div class="form-floating mb-3">
                        <select  name="status" [(ngModel)]="user.status" required id="statusselect" class="form-control" #employeeStatus="ngModel">
                            <option value="" disabled selected hidden></option>
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <label for="statusselect">status</label>
                    </div>
                    <div class="text-danger" *ngIf="employeeStatus.invalid && employeeStatus.touched">
                        *Invalid Status
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn btn-success" type="submit" [disabled]="empForm.invalid">Update</button>
                        <button class="btn btn-warning ms-3">Cancel</button>

                    </div>
                </form>
            
            </div>

        </div>


</div>
